<!DOCTYPE html>
<html lang=fr>

<head>
  <meta charset="utf-8" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body class="container main-container">
  <nav class="navbar rounded mb-0 navbar-expand-lg">
    <a class="navbar-brand rounded mb-0" href="/projects/<%= project._id %>"><%= project._name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/projects/<%= project._id %>/issues">Backlog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/<%= project._id %>/tasks">Tâches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/<%= project._id %>/sprints/" tabindex="-1" aria-disabled="true">Sprints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/<%= project._id %>/tests" tabindex="-1" aria-disabled="true">Tests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/<%= project._id %>/releases" tabindex="-1" aria-disabled="true">Releases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Documentation</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-md-2">
        <span>
          <%if (user === '') {%>
            <li class="nav-item">
              <button type="button" class="btn btn-success" onclick="window.location.replace('/signIn')">
                Se connecter
              </button>
            </li>
          <%} else {%>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=user._name%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile">Profil</a>
                <a class="dropdown-item" href="/projects" tabindex="-1" aria-disabled="true">Projets</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/signOut">Déconnexion</a>
              </div>
            </li>
          <%}%>
        </span>
      </ul>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>