<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> Release </title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Custom css -->
  <link rel="stylesheet" href="/css/style.css">

  <script type="text/javascript" src="/js/scripts.js"></script>
  <%- include('./navbar.ejs', {project: project}) %>
</head>

<body>
  <div class="inner-container rounded mb-0 col-lg-12">

    <h1> Release <%=release._version%></h1>
    <div>
      Date de la release : <%=release._date%> </br>
      Description : <%=release._description%> </br>
      Difficulté réalisée : <%=release._difficultyAchieved%>
    </div>
    <h2> Issues réalisées pendant la release : </h2>
    <div class="row">
      
      <% for( let issue of issues ){ %>
      <div class="col-lg-4">
        <div class="my-card rounded mb-0 <%=issue._color%>"">
            <a id="showButton<%=issue._id%>" onclick="showDetail('<%=issue._id%>')" class="btn btn-sq-xs btn-info">
              <i class="fas fa-chevron-circle-right fa-2x"></i>
            </a>
            <a id="hideButton<%=issue._id%>" onclick="hideDetail('<%=issue._id%>')" class="btn btn-sq-xs btn-info"
              style="display:none">
              <i class="fas fa-chevron-circle-down fa-2x"></i>
            </a>
            <h3><%=issue._issueID%></h3>
            <h5><%=issue._description%></h5>
            <div id="<%= issue._id %>" style="display:none;">
              <p>Difficulté : <%=issue._difficulty%></p>
              <p>Priorité : <%=issue._priority%></p>
            </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>