<html>

<head>
  <title> Modification de tâche </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%- include('./navbar.ejs', {project: project})%>
  <script>
    function addIssue(value){
      oldValue = document.getElementById('linkedUserStories').value
      if(!((oldValue.startsWith(value) && oldValue.length===value.length) || oldValue.includes(","+value+",") || oldValue.includes(','+value+""))){
        if (oldValue.length === 0){
          document.getElementById('linkedUserStories').value = value
        }else{
          document.getElementById('linkedUserStories').value = oldValue+','+value
        }
      }
    }
  </script>
</head>

<body>
  <form action="/projects/<%= project._id %>/tasks/<%= task._id %>/update" method="POST">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" placeholder="ID" class="form-control" name="id" id="idInput" value="<%=task._id%>" required disabled>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" placeholder="Descrption" class="form-control" name="description" id="description" value="<%=task._description%>" required>
    </div>
    <div class="form-group">
      <label for="estimatedTime">Temps estimé</label>
      <input type="text" placeholder="Temps estimé" class="form-control" name="estimatedTime" id="estimatedTime" value="<%=task._estimatedTime%>" required>
    </div>
    <div class="form-group">
      <label for="dependencies">Dépendances</label>
      <input type="text" placeholder="Dépendances" class="form-control" name="dependencies" id="dependencies" value="<%=task._dependencies%>" required>
    </div>
    <div class="form-group">
      <label for="linkedUserStories">User Stories liées</label>
      <div class="form-group">
          <label for="linkedUserStories">User Stories liées</label>
          <select name="issueList" id="issueList" size="1" selected="default">
            <option value="default"> US à liée </option>
            <% for( let issue of issues ){ %>
              <option value=<%=issue._id%>> <%=issue._id%> </option>
            <% } %>
          </select>
          <button type="button" onclick="addIssue(document.getElementById('issueList').value);">Ajouter</button>
          <input type="text" class="form-control" name="linkedUserStories" id="linkedUserStories" value="<%=task._linkedUserStories%>" readonly>
      </div>
    </div>
    <div class="form-group">
        <label for="advancementState">Etat d'avancement</label>
        <select name="advancementState" id="advancementState" size="1">
          <option value="toDo">A faire</option>
          <option value="onGoing">En cours</option>
          <option value="end">Terminée</option>
        </select>
    </div>
    <div class="form-group">
      <label for="developer">Développeur</label>
      <input type="text" placeholder="Développeur" class="form-control" name="assignedDeveloper" id="assignedDeveloper" value="<%=task._assignedDeveloper%>">
    </div>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    <a type="button" class="btn btn-secondary" href="/projects/<%= project._id %>/tasks">Annuler</a>
  </form>
  <script>
      document.getElementById('advancementState').value = "<%=task._advancementState%>"
  </script>
</body>

</html>