<html>

<head>
  <meta charset="UTF-8">
  <title> Nouveaux sprint </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%- include('./navbar.ejs', {project: project})%>
  <script>
    function addIssue(value) {
      oldValue = document.getElementById('linkedUserStories').value
      if (!((oldValue.startsWith(value) && oldValue.length === value.length) || oldValue.includes("," + value + ",") || oldValue.includes(',' + value + ""))) {
        if (oldValue.length === 0) {
          document.getElementById('linkedUserStories').value = value
        } else {
          document.getElementById('linkedUserStories').value = oldValue + ',' + value
        }
      }
    }
    function setMinDate() {
      beginDate = document.getElementById("beginDateInput")
      endDate = document.getElementById("endDateInput")
      endDate.min = beginDate.value
      const date = new Date()
      if (date.getDate() < 10) {
        beginDate.min = date.getFullYear() + "-" + (date.getMonth() + 1) + "-0" + date.getDate()
      } else {
        beginDate.min = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()
      }
    }
    function updateMinEndDate() {
      beginDate = document.getElementById("beginDateInput")
      endDate = document.getElementById("endDateInput")
      endDate.min = beginDate.value
    }
  </script>
</head>

<body>
  <form action="/projects/<%= project._id %>/sprints/<%= sprint._id%>/update" method="POST">
    <div class="form-group">
      <label for="name">Nom</label>
      <input name="name" class="form-control" id="name" type="text" placeholder="Nom du sprint"
        value="<%= sprint._name%>" readonly required>
    </div>
    <div class="form-group">
      <label for="linkedUserStories">User Stories liées</label>
      <select name="issueList" id="issueList" size="1" selected="default">
        <option value="default"> US à lier </option>
        <% for( let issue of issues ){ %>
        <option value=<%=issue._issueID%>> <%=issue._issueID%> </option>
        <% } %>
      </select>
      <button type="button" onclick="addIssue(document.getElementById('issueList').value);">Ajouter</button>
      <input type="text" class="form-control" name="linkedUserStories" id="linkedUserStories"
        value="<%=sprint._linkedUserStories%>" readonly>
    </div>
    <div class="form-group">
      <label for="beginDate">Date de début</label>
      <input type="date" placeholder="Date de début" class="form-control" name="beginDate" id="beginDateInput"
        onchange="updateMinEndDate()" value="<%=sprint._beginDate%>" required>
    </div>
    <div class="form-group">
      <label for="endDate">Date de fin</label>
      <input type="date" placeholder="Date de fin" class="form-control" name="endDate" id="endDateInput"
        value="<%=sprint._endDate%>" required>
    </div>
    <script>setMinDate()</script>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    <a type="button" class="btn btn-secondary" href="/projects/<%= project._id %>/sprints">Annuler</a>
  </form>


</body>

</html>